*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.repo-header, .repo-body{
    margin-bottom: 20px;
}

.repo-body{
    min-height: 50px;
}

.repo-privacy{
    text-align: center;
    border: 1px solid gray;
    border-radius: 30px;
    width: 60px;
    padding: 3px;
}

.repo-name{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
    color: rgb(104, 166, 231);
}

.repo-block{
    border: 1px solid gray;
    border-radius: 10px;
    max-width: 500px;
    padding: 10px;
}

.repo-lang-color{
    display: block;
    width: 12px;
    height: 12px;
    background-color: rgb(195, 66, 255);
    border-radius: 50%;
    margin-right: 5px;
}

.repo-footer, .repo-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-block{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    align-items: center;
}

svg{
    margin-right: 5px;
}